<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hotel.mapper.MemberMapper">

 	<select id="findByEmail" resultType="String">
		
		select email from d_member where email = #{email}
		
	</select> 
	
	<insert id="registerMemberInfo" parameterType="map">
	
		insert into d_member (name, phone_num, email, password, role, is_delete, dt_insert, insert_user) 
		values(#{name},#{phone_num},#{email},#{password}, #{role}, 'N', NOW(), 'member');
	
	</insert>

</mapper>